*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html , body{
    height:100%;
    width:100%;
    background-color: firebrick;
}

.main{
    background-color: brown;
}

.box{
    height:100px;
    width:100px;
    border: 1px solid black;
    border-radius: 50;
}