.container{
    background: #eee;
    margin: 50px;
    padding: 0px;
    border: 4px solid #000;
    height: auto;
    width: 800px;

    display: flex;
}

.item{
    background: orangered;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: auto;
    margin-left: auto;
}

.items{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    height: 100px;
    width: 100px;
}

.item1{background: orangered;}
.item2{background: yellowgreen; margin-right: auto;}
.item3{background: mediumpurple ;}
.item4{background: hotpink;}