body{
    background: white;
    font-family: arial;
    font-size: 100px;
}

@media screen and (max-width:1200px){
    body{
        background: pink;
        font-size: 70px;
    }
}
@media screen and (max-width:1000px)
{
    body{
        background: lightblue;
    }
}
@media screen and (max-width:700px){
    body{
        background: orange;
    }
}